.cart {
    @apply grid grid-cols-1 xl:gap-4 justify-start items-start h-screen
    /* LG */
    lg:grid-cols-3
}

.cart__itemsSection {
    @apply col-span-1 py-8 px-4 bg-primary text-white h-full 
    /* XL */
    xl:p-24 
    /* LG */
    lg:p-8 lg:col-span-2 lg:overflow-y-scroll 
    /* MD */
    md:p-8
}

.cartItem {
    @apply mt-16 max-h-[70%] overflow-y-auto
}

.cart__subTotalSection {
    @apply grid grid-cols-6 justify-between items-center
}

.cart__subTotalSectionDivider {
    @apply col-span-1 hidden
    /* MD */
    md:hidden
}

.cart__subTotalSectionDivider2 {
    @apply col-span-1 hidden
    /* XL */
    xl:hidden
}

.cart__subTotal {
    @apply col-span-4 text-end pr-0 md:pr-12
}

.cart__continueShoppingButton {
    @apply font-thin bg-white text-primary lg:text-sm rounded-lg
}

.sectionTitle {
    @apply font-bold text-white text-3xl
}

.subTotalText {
    @apply text-xs font-light xl:text-xl lg:text-lg
}

.boldText {
    @apply font-bold xl:text-xl lg:text-lg
}

/* Card Section */
.cardSection {
    @apply col-span-1 py-8 px-4 h-full flex flex-col justify-start
    /* XL */
    xl:py-24 xl:px-8
    /* LG */
    lg:py-8 lg:px-4
    /* MD */
    md:p-8
}

.cardSection .sectionTitle {
    @apply text-primary
}

.card__formWrapper {
    @apply w-full mt-16 min-h-[70%] flex flex-col justify-start items-start
}

.card__form {
    @apply w-full flex flex-col gap-y-4
}

.card__formGroup {
    @apply w-full flex flex-col gap-y-2
}

.card__input {
    @apply bg-transparent border-2 w-full border-primary/20 rounded-lg px-4 py-2 min-h-[46px]
}

.card__cvvSection {
    @apply grid grid-cols-3 gap-2
}

.card__checkoutButton {
    @apply mt-8 px-6 h-12 text-center w-full rounded-lg font-bold bg-primary text-white
}